build/
install/
log/
__pycache__/
*.pyc
*.pyo
*.log
registros/
src/parcial_interprete/parcial_interprete/interprete_ordenes_antes_*.py
src/parcial_interprete/parcial_interprete/interprete_ordenes_keywords_ok.py
